[submodule "dircolors-solarized"]
	path = zsh/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
