window {
margin: 5px;
background-color: #282a36;
opacity: 0.9;
}

#outer-box {
margin: 5px;
border: 2px solid #44475a;
background-color: #282a36;
}

#input {
margin: 5px;
border: 2px solid #6272a4;
background-color: #44475a;
color: #f8f8f2;
font-size: 18px;
}

#inner-box {
margin: 5px;
background-color: #282a36;
}

#scroll {
margin: 5px;
border: 2px solid #6272a4;
background-color: #282a36;
font-size: 16px;
color: #f8f8f2;
}

#scroll label {
margin: 2px 0px;
}

#entry {
margin: 5px;
background-color: #282a36;
}
#entry:selected {
background-color: #44475a;
border: 2px solid #BD93F9;
}

#img {
margin: 5px;
}
#img:selected {
background-color: #44475a;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
}
#text:selected {
background-color: #44475a;
}

