/* https://cloudninja.pw/docs/wofi.html */

window {
margin: 5px;
border: 2px solid #3a3c4e;
background-color: #3a3c4e;
opacity: 0.9;
}

#outer-box {
margin: 5px;
border: 2px solid #44475a;
background-color: #3a3c4e;
}

#input {
margin: 5px;
border: 2px solid #6272a4;
background-color: #3a3c4e;
font-size: 18px;
}

#scroll {
margin: 5px;
border: 2px solid #6272a4;
background-color: #3a3c4e;
font-size: 16px;
color: #ccc;
}

#scroll label {
margin: 2px 0px;
}

#inner-box {
margin: 5px;
/*border: 2px solid yellow;*/
background-color: #3a3c4e;
}

/*#text {*/
/*margin: 5px;*/
/*border: 2px solid cyan;*/
/*background-color: #3a3c4e;*/
/*}*/

#img {
margin: 5px;

}
