* {
    border: none;
    border-radius: 0;
    font-family: Overpass Mono, Fantasque Sans Mono, FontAwesome5Free Solid;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 42, 54, 0.6);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #F8F8F2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.alacritty {
    background-color: #3F3F3F;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #F8F8F2;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 1px solid #f8f8f2;
}

#workspaces button.focused {
    background-color: #44475A;
    border-bottom: 1px solid #44475A;
}

#workspaces button.urgent {
    background-color: #FF5555;
}

#mode {
    background-color: #FF5555;
    border-bottom: 1px solid #FF5555;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-updates {
    padding: 0 5px;
    margin: 0 4px;
    color: #f8f8f2;
}

#clock {
    /*background-color: #64727D;*/
}

#battery {
    /*background-color: #ffffff;*/
    /*color: #000000;*/
}

#battery.charging {
    /*background-color: #26A65B;*/
    color: #50fa7b;
}

#battery.warning:not(.charging) {
    /*background-color: #;*/
    color: #b45bcf;
}

@keyframes blink {
    to {
        background-color: #ff5555;
        color: #282a36;
    }
}

#battery.critical:not(.charging) {
    /*background-color: #;*/
    color: #ff5555;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /*background-color: #2ecc71;*/
    /*color: #000000;*/
}

#memory {
    /*background-color: #9b59b6;*/
}

#network {
    /*background-color: #2980b9;*/
}

#network.disconnected {
    /*background-color: #f53c3c;*/
}

#pulseaudio {
    /*background-color: #f1c40f;*/
    /*color: #000000;*/
}

#pulseaudio.muted {
    /*background-color: #90b1b1;*/
    /*color: #2a5c45;*/
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#idle_inhibitor {
    /*background-color: #2d3436;*/
}

#idle_inhibitor.activated {
    background-color: #b45bcf;
    color: #f8f8f2;
}

#mpd {
    /*background-color: #282a36;*/
    /*color: #2a5c45;*/
}

#mpd.disconnected {
    /*background-color: #283a26;*/
    /*color: #f8f8f2*/
}

#mpd.stopped {
    /*background-color: #283a26;*/
    /*color: #f8f8f2*/
}

#mpd.paused {
    /*background-color: #283a26;*/
}
#custom-updates {
    color: #ff5555;
}

