* {
    font-family: Symbols Nerd Font, Overpass Mono;
    font-size: 14px;
    min-height: 0;
}

/*
*
* Catppuccin Macchiato palette
* Maintainer: rubyowo
*
*/

@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

window#waybar {
    background-color: alpha(@mantle, 0.9);
    /* border: 1px solid #b45bcf; */
    /* border-radius: 12px; */
    /* border: 2px solid rgba(100, 114, 125, 0.5); */
    border: 2px solid alpha(@crust, 0.3);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.kitty {
    background-color: @mantle;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    /* border-bottom: 3px solid transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    /* border-bottom: 1px solid #f8f8f2; */
}

#workspaces button.focused {
    background-color: @surface0;
    /* border-bottom: 1px solid #44475A; */
}

#workspaces button.urgent {
    background-color: @peach;
}

#mode {
    background-color: @peach;
    /* border-bottom: 1px solid #FF5555; */
}

#clock,
#custom-weather,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#gamemode,
#mpd,
#custom-updates,
#custom-clipboard,
#custom-scratchpad {
    padding: 0 2px;
    margin: 3 2px;
}

#clock {
    /*background-color: #64727D;*/
    padding: 0 9px;
    margin: 0 0px;
    border-left: 1px solid @surface0;
}

#custom-weather {
    padding: 0 9px;
    margin: 0 0px;
    border-left: 1px solid @surface0;
}

#battery {
    /*background-color: #ffffff;*/
    /*color: #000000;*/
}

#battery.charging {
    /*background-color: #26A65B;*/
    color: @green;
}

#battery.warning:not(.charging) {
    /*background-color: #;*/
    color: @peach;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @crust;
    }
}

#battery.critical:not(.charging) {
    /*background-color: #;*/
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /*background-color: #2ecc71;*/
    /*color: #000000;*/
    padding: 0 9px;
    margin: 0 0px;
    border-left: 1px solid @surface0;
}

#memory {
    /*background-color: #9b59b6;*/
}

#network {
    /*background-color: #2980b9;*/
}

#network.disconnected {
    /*background-color: #f53c3c;*/
}

#pulseaudio {
    /*background-color: #f1c40f;*/
    /*color: #000000;*/
}

#pulseaudio.muted {
    /*background-color: #90b1b1;*/
    /*color: #2a5c45;*/
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#idle_inhibitor {
    /*background-color: #2d3436;*/
}

#idle_inhibitor.activated {
    background-color: @surface1;
}

#mpd {
    /*background-color: #282a36;*/
    /*color: #2a5c45;*/
}

#mpd.disconnected {
    /*background-color: #283a26;*/
    /*color: #f8f8f2*/
}

#mpd.stopped {
    /*background-color: #283a26;*/
    /*color: #f8f8f2*/
}

#mpd.paused {
    /*background-color: #283a26;*/
}
#custom-updates {
    color: @peach;
}
#custom-osname {
    font-weight: bold;
    font-size: 20px;
    padding: 1px 10px;
}
